html {
padding: 0;
margin: 0;
}

img {
border: 5px;
}

body {
padding: 55px;
font-size: 16px;
line-height: 18px;
background-color: #E2E6F5;
font-family: "Times New Roman";
}

header {
padding:  40px;
background-color: #62A8F5;
-webkit-border-radius: 15px 15px 0 0;
border-radius: 15px 15px 0 0;
-webkit-box-shadow: 3px 3px 3px 5px #D4D4D4;
box-shadow: 3px 3px 3px 5px #D4D4D4;
}

nav {
float: left;
margin-bottom: 30px;
}

main {
clear: left;
padding-left: 60px;
}

footer {
background-color: #62A8F5;
padding: 40px;
-webkit-border-radius: 0 0 15px 15px;
border-radius: 0 0 15px 15px;
}

h1 {
color: #000000;
font-size: 55px;
font-family: "Archivo Black";
text-align: center;
}

h2 {
font-size: 30px;
margin-top: 14px;
margin-bottom: 7px;
font-family: "Times New Roman";
text-align: center;
}

h3 {
margin-top: 14px;
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 16px;
}

footer p {
text-align: center;
}

nav ul li {
list-style-type: none;
float: left;
padding: 20px;
margin-right: 20px;
background-color: #62A8F5;
border-radius: 5px;
}

nav li a {
text-decoration: none;
color: #21374D;
}

nav li a:hover {
color: #E2E6F5;
}

.job-title {
font-weight: bold;
padding: 0;
margin: 0;
}

.job-place {
font-style: italic;
padding: 0;
margin: 0;
}

.job-dates {
padding: 0;
margin: 0;
}

p {
font-family: "Times New Roman";
font-size: 16px;
line-height: 20px
}

img {
height: 374px;
width: 554px;
float: left;
border: 10px groove;
margin: 10px;
}
